@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura.woff2') format('woff2'),
       url('/fonts/Futura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
}

