body {
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  background-color:  hsl(107, 19%, 98%);
  color: #2C3B28;
  overflow-x: hidden;
}

